////
//// Colors
////

$redi-orange: #f15922;
$redi-cyan: #58adc4;
$redi-cyan-light: #cde6ed;

$grey-dk-000: #959595;
$grey-dk-100: #5c5c5c;
$grey-dk-200: #444444;
$grey-dk-250: #303030;
$grey-dk-300: #272727;

$grey-lt-000: #f5f5f5;
$grey-lt-100: #eeeeee;
$grey-lt-200: #ececec;
$grey-lt-300: #e6e6e6;

$sidebar-color: $redi-cyan-light;
$code-background-color: $grey-lt-000;
$feedback-color: darken($redi-cyan-light, 5%);

$link-color: $redi-orange;
$btn-primary-color: $redi-cyan;
$base-button-color: $redi-cyan-light;
